@import "tailwindcss";
:root {
  font-family: "Inter", sans-serif;

  --background: #F4F4F6;
  --surface: #FFFFFF;
  --secondary: #E7E7E7;
  --border: #D2D2D4;

  --primary: #FF634A;

  --text: #1A1A1A;

  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;
}

body{
    background: var(--background);
    color: var(--text);
}